header {
  height: 400px;
  width: 100;
  background-color: #ffdf00;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.name {
  color: #FFFFFF;
}